body {
  font-family: apple-system, sans-serif;
  max-width: 400px;
  margin: auto;
  padding: 20px 20px;
  background: #eee;
  color: #333;
  line-height: 1.5;
}

video {
  width: 100%;
  margin-bottom: 20px;
  background-color: #000;
  aspect-ratio: 4/3;
}

p {
  margin-top: 0;
}


article {
  margin-bottom: 20px;
}

article h2 {
  font-size: 0.8rem;
  margin: 0;
  margin-bottom: 10px;
}

dl {
  margin: 0;
}

dt {
  font-size: 0.8rem;
  color: SlateGray;
  text-transform: uppercase;
}

dd {
  margin: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}

button {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  background: #000;
  color: #eee;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

button:active {
  opacity: 0.8;
}